/* navbar */
.navbar {
    background-color: #808080;
    height: 110px;
    font-family: 'Poppins', sans-serif;
}
.app-title{
    font-size: xx-large;
}

.nav-bar-btn-comb {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}





