/* change password */

.changepassword-form-container {
    height: 100px;
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
    font-family: 'Poppins', sans-serif;
}

.changepassword-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
}

.changepassword-form-button {
    margin-top: 10px;
    background-color: aliceblue;
}

.changepassword-password-part {
    display: flex;
    flex-direction: column;
}

/* welcomedashboard */
.welcomdashboard-title {
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
}