/* forget password */

.forgetpassword-form-container {
    height: 100px;
    width: 500px;
    margin-top: 50px;
    margin-left: 31%;
    font-family: 'Poppins', sans-serif;
}

.forgetpassword-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;

}

.forgetpassword-form-button {
    margin-top: 10px;
    background-color: aliceblue;
}

.forgetpassword-emailid-part {
    display: flex;
    flex-direction: column;
}