/* navbar */
.navbar {
    background-color: #808080;
    height: 110px;
    font-family: 'Poppins', sans-serif;
}
.app-title{
    font-size: xx-large;
}

.nav-bar-btn-comb {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

/* login part */

.login-form-card {
    height: 300px;
    width: 550px;
    font-family: 'Poppins', sans-serif;
    
}

.login-form-container {
    height: 100px;
    width: 500px;
    margin-top: 50px;
    margin-left: 440px;

}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
}


.login-form-button {
    margin-top: 10px;
    background-color: aliceblue;
}

.login-emailid-part,
.login-password-part {
    display: flex;
    flex-direction: column;
}

/* logout button */
.logout-btn {
    margin-bottom: 10px;
}


/* signup */

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    font-family: 'Poppins', sans-serif;
}

.signup-form-button {
    margin-top: 10px;
    background-color: aliceblue;
}

.signup-firstname-part,
.signup-lastname-part,
.signup-dob-part,
.signup-emailid-part,
.signup-password-part,
.signup-confirmPassword-part {
    display: flex;
    flex-direction: column;
}

/* forget password */

.forgetpassword-form-container {
    height: 100px;
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
}

.forgetpassword-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
}

.forgetpassword-form-button {
    margin-top: 10px;
    background-color: aliceblue;
}

.forgetpassword-emailid-part {
    display: flex;
    flex-direction: column;
}

/* change password */

.changepassword-form-container {
    height: 100px;
    width: 500px;
    margin-top: 50px;
    margin-left: 50px;
}

.changepassword-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
}

.changepassword-form-button {
    margin-top: 10px;
    background-color: aliceblue;
}

.changepassword-password-part {
    display: flex;
    flex-direction: column;
}

/* welcomedashboard */
.welcomdashboard-title {
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
}

/* my classroom */

.myclassroom-welcome-msg {
    margin-top: 10px;
    margin-left: 25%;
}


.myclassroom-content-container-one {
    display: flex;
    flex-direction: row;
    background-color: beige;
    margin: 10px;
    height: 100%;
    width: 250px;
    border-radius: 5px;
    margin-left: 50px;
}

.myclassroom-content-container-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myclassroom-main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Poppins', sans-serif;
}

/* create classroom */

.create-classroom-main-div {
    display: flex;
    flex-direction: row;
    
}

.create-classroom-form {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 300px;
    font-family: 'Poppins', sans-serif;
}

.create-classname-part,
.create-year-part {
    display: flex;
    flex-direction: column;
}

.classdetails-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

/* Individual student component */
.indiv-stud-titles {
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
}

.indiv-stud-info-card {
    height: 300px;
    width: 90%;
    margin-top: 20px;
    margin-left: 65px;
    font-family: 'Poppins', sans-serif;
    
}

.indiv-stud-marks-card {
    height: 370px;
    width: 90%;
    margin-top: 20px;
    margin-left: 65px;
    font-family: 'Poppins', sans-serif;
}

/* classdetails component */
.classdetails-add-student-btn {
    width: 90%;
    display: flex;
    font-family: 'Poppins', sans-serif;

}

.classdetails-add-student-btn-div {
    display: flex;
    justify-content: center;
    margin: 10px;

}

/* addstudent component */

.add-student-form {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.add-student-name-part,
.add-student-dob-part,
.add-student-email-part,
.add-student-address-part,
.add-student-contactno-part,
.add-student-religion-part {
    display: flex;
    flex-direction: column;
}

.add-student-btn {
    margin: 20px;
    width: auto;
}

/* edit student component */


.edit-student-form {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;

}

.edit-student-name-part,
.edit-student-dob-part,
.edit-student-email-part,
.edit-student-address-part,
.edit-student-contactno-part,
.edit-student-religion-part {
    display: flex;
    flex-direction: column;
}


.edit-student-btn {
    margin: 20px;
    width: auto;
}


/* add marks container */

.addmarks-form-field {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.addmarks-btn {
    margin-top: 20px;
    width: 100%
}

.addmarks-main-container {
    margin-top: 20px;
    margin-left: 140px;
    height: fit-content;
    width: 80%;
    font-family: 'Poppins', sans-serif;
}

.root {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
}

