.login-form-card{
    height: 1000px;
    width: 550px;
}
.login-form-container,.signup-form-container{
    height: 100px;
    width: 500px;
  margin-top: 50px;
  margin-left:50px;
}
.login-form,.signup-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
 }
    
.login-emailid-part,.login-password-part
,.signup-firstname-part,.signup-lastname-part
,.signup-dob-part,.signup-emailid-part,
.signup-password-part,.signup-confirmPassword-part{
    display: flex;
     flex-direction:column;
 }
    
.login-form-button,.signup-form-button{
margin-top: 10px;
background-color:aliceblue;
}